@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="@Css.H3">@ViewData["Title"]</h3>

@await Html.PartialAsync("AlertError", "Deleting this data permanently removes your account, and cannot be recovered.")

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger text-center font-semibold" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="flex flex-col gap-y-4">
                <div>
                    <div>
                        <label asp-for="Input.Password" class="block text-sm font-medium text-gray-700 dark:text-gray-300"></label>
                        <div class="mt-1 relative">
                            <input asp-for="Input.Password" class="@Css.InputText" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

        }
        <div class="mt-4">
            <button type="submit" class="w-100 @Css.DangerButton">Delete data and close my account</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
