# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dotnet
.env
dist/
App_Data/
wwwroot/
.vscode/
.idea/
*.user
*.tsbuildinfo
#sqlite
.vs/
bin/
obj/
*.db
*.db-shm
*.db-wal
*.db-journal
*.sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal
Configure.secrets.cs
appsettings.Production.*

# dependencies
node_modules/
.pnp
.pnp.js

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# dotenv environment variables file
.env

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml