@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="mt-8 flex justify-center">
    <div>
        <h2 class="@Css.H2">@ViewData["Title"]</h2>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>
