@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="mt-8 flex justify-center">
    <div>
        <h2 class="@Css.H2">@ViewData["Title"]</h2>
        <p class="my-4">Thank you for confirming your email.</p>
    </div>
</div>
