@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="mt-8">
    <div class="max-w-xl mx-auto">
        <h1 class="mb-4 text-2xl font-semibold text-gray-900 dark:text-gray-100">
            @ViewData["Title"]
        </h1>
        <div class="shadow overflow-hidden sm:rounded-md">
            <form asp-action="ForgotPassword" method="post" class="px-4 bg-white dark:bg-black sm:p-6">
                <div asp-validation-summary="All" class="text-danger text-center font-semibold"></div>
                <div class="flex flex-col gap-y-4">
                    <div>
                        <div>
                            <label asp-for="Input.Email" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email</label>
                            <div class="mt-1 relative">
                                <input type="text" class="@Css.InputText" asp-for="Input.Email" spellcheck="false">
                            </div>
                            <p asp-validation-for="Email" class="text-danger"></p>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="@Css.PrimaryButton">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
