@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="mt-8 flex justify-center">
    <div>
        <h2 class="@Css.H2">@ViewData["Title"]</h2>
        <p class="my-4">Please check your email to reset your password.</p>
    </div>
</div>
