@page
@model LogoutModel
@{
    ViewData["Title"] = "Signed out";
}

<div class="mt-8 flex justify-center">
    <div>
        <h2 class="@Css.H2">@ViewData["Title"]</h2>
        <p class="my-4">You have successfully signed out.</p>
    </div>
</div>
