@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="mt-8 flex justify-center">
    <div>
        <h2 class="@Css.H2">@ViewData["Title"]</h2>
        <p class="my-4">
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>
