<header class="border-b border-gray-200 dark:border-gray-700 pr-3 bg-white dark:bg-gray-800">
    <div class="flex flex-wrap items-center">
      <div class="flex-shrink flex-grow-0">
        <div class="cursor-pointer">
          <a routerLink="/">
            <div class="p-4 cursor-pointer">
              <img src="/logo.svg" class="w-8 h-8" alt="MyApp logo"/>
            </div>
          </a>
        </div>
      </div>
      <div class="flex flex-grow flex-shrink flex-nowrap justify-end items-center">
        <nav class="relative flex flex-grow">
          <ul class="flex flex-wrap items-center justify-end w-full m-0">
            <li class="relative flex flex-wrap just-fu-start m-0">
              <a routerLink="/counter" routerLinkActive="text-link-dark dark:text-link-dark" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">Counter</a>
            </li>
            <li class="relative flex flex-wrap just-fu-start m-0">
              <a routerLink="/weather" routerLinkActive="text-link-dark dark:text-link-dark" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">Weather</a>
            </li>
            <li class="relative flex flex-wrap just-fu-start m-0">
              <a routerLink="/todomvc" routerLinkActive="text-link-dark dark:text-link-dark" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">Todos</a>
            </li>
            <li class="relative flex flex-wrap just-fu-start m-0">
              <a routerLink="/bookings" routerLinkActive="text-link-dark dark:text-link-dark" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">Bookings</a>
            </li>

            @if (user()) {
              <li>
                <div class="mx-3 relative">
                  <div>
                    <a routerLink="/profile"
                       class="max-w-xs bg-white dark:bg-black rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 lg:p-2 lg:rounded-md lg:hover:bg-gray-50 dark:lg:hover:bg-gray-900 dark:ring-offset-black"
                       id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                      <img class="h-8 w-8 rounded-full" [src]="user()!.profileUrl" alt="" (error)="onIconError($event)" />
                      <span class="hidden ml-3 text-gray-700 dark:text-gray-300 text-sm font-medium lg:block">
                        <span class="sr-only">Open user menu for </span>
                        {{ user()!.userName! }}
                      </span>
                    </a>
                  </div>
                </div>
              </li>
              <li class="mr-3 relative flex flex-wrap just-fu-start m-0">
                <secondary-button  (click)="signout()">Sign Out</secondary-button>
              </li>
            }
            @else {
              <li class="relative flex flex-wrap just-fu-start m-0">
                <secondary-button routerLink="/signin">Sign In</secondary-button>
              </li>
            }

            <li class="relative flex flex-wrap just-fu-start m-0">
              <dark-mode-toggle></dark-mode-toggle>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
