@page
@model string

@{
    ViewData["Title"] = "Forbidden";
}

<main role="main" class="h-screen px-4 text-black bg-white text-center flex flex-col items-center justify-center">
    <div class="-mt-48">
        <h1 class="inline-block border-gray-300 border-r m-0 mr-5 py-2 pr-4 text-2xl font-medium align-top">403</h1>
        <div class="inline-block text-left h-8 align-middle">
            <h2 class="text-sm leading-10 font-normal m-0 p-0">You are not authorized to access this page. </h2>
            <div class="text-sm leading-10">@Model</div>
        </div>
    </div>
</main>
